# Файлы среды исполнения Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
env/
ENV/

# Файлы среды разработки VSCode
.vscode/

# Файлы секретов
.env
.secret

# Базы данных SQLite
*.sqlite3
*.db

# Файлы журналов
*.log

# Директории node_modules
node_modules/
